In [130]:
import pandas as pd 
myFile = 'dinkes-od_17150_jumlah_puskesmas_berdasarkan_kategori_puskesmas.csv'
myDf = pd.read_csv(myFile)

##### 1. Printout kategori puskesmas yang ada (distinct)

In [131]:
for x in myDf['kategori_puskesmas'].unique():
  print(x)

PUSKESMAS NON RAWAT INAP
PUSKESMAS RAWAT INAP

In [132]:
dataCianjur = myDf.where(
  (myDf['nama_kabupaten_kota'] == 'KABUPATEN CIANJUR') & 
  (myDf['tahun'] == 2021)
).dropna()
dataCianjur

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,kategori_puskesmas,jumlah_puskesmas,satuan,tahun
112,113.0,32.0,JAWA BARAT,3203.0,KABUPATEN CIANJUR,PUSKESMAS RAWAT INAP,8.0,UNIT,2021.0
113,114.0,32.0,JAWA BARAT,3203.0,KABUPATEN CIANJUR,PUSKESMAS NON RAWAT INAP,39.0,UNIT,2021.0

##### 2. Berapa jumlah puskesmas di Kab. Cianjur

In [133]:
jumPCianjur = dataCianjur['jumlah_puskesmas'].sum()
jumPRICianjur = dataCianjur.where(dataCianjur['kategori_puskesmas'] == 'PUSKESMAS RAWAT INAP').dropna()['jumlah_puskesmas'].sum()
jumPNRICianjur = jumPCianjur - jumPRICianjur
print(f'Jumlah Puskesmas Cianjur Tahun 2021: {jumPCianjur:g}')
print(f'Jumlah Puskesmas Rawat Inap Cianjur Tahun 2021: {jumPRICianjur:g}') 
print(f'Jumlah Puskesmas Non Rawat Inap Cianjur Tahun 2021: {jumPNRICianjur:g}')

Jumlah Puskesmas Cianjur Tahun 2021: 47
Jumlah Puskesmas Rawat Inap Cianjur Tahun 2021: 8
Jumlah Puskesmas Non Rawat Inap Cianjur Tahun 2021: 39

In [134]:
dataBogor = myDf.where(
  (myDf['nama_kabupaten_kota'] == 'KABUPATEN BOGOR') &
  (myDf['kategori_puskesmas'] == 'PUSKESMAS RAWAT INAP')
).dropna()
dataBogor

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,kategori_puskesmas,jumlah_puskesmas,satuan,tahun
1,2.0,32.0,JAWA BARAT,3201.0,KABUPATEN BOGOR,PUSKESMAS RAWAT INAP,27.0,UNIT,2019.0
55,56.0,32.0,JAWA BARAT,3201.0,KABUPATEN BOGOR,PUSKESMAS RAWAT INAP,30.0,UNIT,2020.0
108,109.0,32.0,JAWA BARAT,3201.0,KABUPATEN BOGOR,PUSKESMAS RAWAT INAP,30.0,UNIT,2021.0

##### 3. Adakah pertambahan puskesmas rawat inap di Kab. Bogor dari tahun 2019-2021

In [135]:
jumPRIBogor2019 = dataBogor.where(dataBogor['tahun'] == 2019)['jumlah_puskesmas'].sum()
jumPRIBogor2020 = dataBogor.where(dataBogor['tahun'] == 2020)['jumlah_puskesmas'].sum()
jumPRIBogor2021 = dataBogor.where(dataBogor['tahun'] == 2021)['jumlah_puskesmas'].sum()
print(f'Jumlah Puskesmas Rawat Inap Bogor Tahun 2019 {jumPRIBogor2019:g}')
print(f'Jumlah Puskesmas Rawat Inap Bogor Tahun 2020: {jumPRIBogor2020:g}')
print(f'Jumlah Puskesmas Rawat Inap Bogor Tahun 2021: {jumPRIBogor2021:g}')

pertambahanPRI = jumPRIBogor2021 - jumPRIBogor2019
print(f'Pertambahan Puskesmas Rawat Inap dari 2019-2021: {pertambahanPRI:g}')

Jumlah Puskesmas Rawat Inap Bogor Tahun 2019 27
Jumlah Puskesmas Rawat Inap Bogor Tahun 2020: 30
Jumlah Puskesmas Rawat Inap Bogor Tahun 2021: 30
Pertambahan Puskesmas Rawat Inap dari 2019-2021: 3